* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Pretendard", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}